/************************
*   CSS RESET
************************/
/*
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------------------------------ */

/************************
*   Define Font
************************/
@font-face {
    font-family: 'Dosis';
    src: url('../font/Dosis-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Dosis';
    src: url('../font/Dosis-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Dosis';
    src: url('../font/Dosis-Bold.ttf') format('truetype');
    font-weight: 700;
}

/* ------------------------------------------------------------------------ */

/************************
*   FIX
************************/
/* margin-top and clear */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {clear:both;}

/* box-sizing */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ------------------------------------------------------------------------ */

/************************
*   VARS
************************/
:root {
    --base-color: 150, 86, 2;
    --accent-color: 140, 2, 22;
    --dark-gray: 68, 62, 53;
    --light-gray: 250, 250, 249;
    --white: 255, 255, 255;
    --font: 'Dosis', Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------------------------ */

/************************
*   Global
************************/
.container{
    width: 75%;
    margin: auto;
}

.wrapper{margin-bottom: 2em;}

.left {float: left}
.right {float: right}

/* btn */
.btn {
    display: inline-block;
    padding: .5em 1em;    
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgb(var(--white));
    transition-property: color;
    transition-duration: .3s;
    position: relative;
}

.btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1);
    transition-property: transform;
    transition-duration: .3s;
}

.brown {border: .05em solid rgb(var(--base-color));}
.red {border: .05em solid rgb(var(--accent-color));}

.btn.red:after {background-color: rgb(var(--accent-color));}
.btn.brown:after {background-color: rgb(var(--base-color));}
.btn:hover:after {transform: scale(0);}
.btn.brown:hover {color: rgb(var(--base-color));}
.btn.red:hover {color: rgb(var(--accent-color));}

/* header and footer sections */
.section-head {
    padding: 1em;
    text-align: center;
    background-color: rgb(var(--light-gray));
    margin-bottom: 3em;
}

.section-head .section-head__caption {
    font-size: 2em;
    font-weight: 700;
    text-transform: capitalize;

}

.section-head .section-head__info {
    font-size: 1.1em;
    margin: 1em 0;
    line-height: 1.6;
}

.section-head:after {
    content: '';
    display: block;
    width: 5%;
    height: .2em;
    background-color: rgb(var(--accent-color));
    margin: auto;
}

.section-footer{
    text-align: center;
    margin: 5em 0;
}

/* ------------------------------------------------------------------------ */

body {
    font-family: var(--font);
    color: rgb(var(--dark-gray));
}

/************************
*   Header
************************/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    border-bottom: .25em solid rgb(var(--accent-color));
    background-color: rgba(var(--light-gray), .7);
    z-index: 2;
}

/* nav */
.nav{width: 60%;}
.nav .nav__item .nav__txt {
    display: block;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: rgb(var(--base-color));
    transition-property: background-color, color;
    transition-duration: .3s, .3s;
}

.nav .nav__item .nav__txt.active,
.nav .nav__item .nav__txt:hover {
    background-color: rgb(var(--base-color));
    color: rgb(var(--white));
}

/* logo */
.logo {
    width: 40%;
    text-align: center;
}

/* ------------------------------------------------------------------------ */

/************************
*   Banner
************************/
.banner {
    max-width: 100vw;
    height: 100vh;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width :100%;
    height: 100%;
    background-color: rgba(var(--base-color), .7);
}

.banner .banner__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: rgb(var(--white));
    line-height: 1.6;
}

.banner .banner__content .banner__title {
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.banner .banner__content .banner__txt {
    font-size: 1.5em;
    margin-bottom: 1em;
}


/* ------------------------------------------------------------------------ */

/************************
*   Services
************************/
.services .services__main .wrapper {width: 33.3%;}
.services .services__main .services__item {
    width: 80%;
    margin:auto;
    text-align: center;
}

.services__item .services__img-box .services__img {
    display: inline-block;
    width: 25%;
}

.services__item .services__content {margin: 1em 0;}
.services__content .services__title {
    padding: .5em 1em;
    text-transform: uppercase;
    font-weight: 700;
}

.services__content .services__txt {
    font-size: .9em;
    font-weight: 300;
    padding: .5em 1em;
    line-height: 1.6;
}

/* ------------------------------------------------------------------------ */

/************************
*   Portfolio
************************/
.portfolio__main .wrapper {width: 50%;}
.portfolio__main .portfolio__item {
    width: 80%;
    margin: auto;
    background-color: rgb(var(--dark-gray));
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.portfolio__item .portfolio__img-box  .portfolio__img {
    display: block;
    width: 100%;
}

.portfolio__item .portfolio__content {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    line-height: 1.6;
    background-image: linear-gradient(rgb(var(--base-color)), transparent);
    color: rgb(var(--white));
    opacity: 0;
    transform-origin: right;
    transition-property: opacity, transform;
    transition-duration: 0.5s, 0.5s;
}

.portfolio__item:hover .portfolio__content {
    transform-origin: left;
    opacity: 1;
    transform: scale(1);
}

.portfolio__item .portfolio__content .portfolio__title {font-weight: 700;}
.portfolio__item .portfolio__content .portfolio__txt {font-weight: 300;}
.portfolio__item .portfolio__content .portfolio__title,
.portfolio__item .portfolio__content .portfolio__txt {
    padding: .25em;
    opacity: 0;
    transform: translateY(-100%);
    transition-property: transform, opacity;
    transition-duration: .3s;
}

.portfolio__item:hover .portfolio__content .portfolio__title,
.portfolio__item:hover .portfolio__content .portfolio__txt {
    transition-delay: .4s;
    transform: translateY(0%);
    opacity: 1;
}

.portfolio__item:hover .portfolio__content .portfolio__txt {transition-delay: .6s;}

/* ------------------------------------------------------------------------ */

/************************
*   Pricing
************************/
.pricing .pricing__main .wrapper {width: 33.3%}
.pricing__main .pricing__plan {
    width: 70%;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(-45deg, rgba(var(--base-color), .85), rgba(var(--accent-color), .85));
    color: rgb(var(--white));
    border-radius: 8em 8em 1em 1em;
    padding: 1em;
}

.pricing__main .wrapper:nth-child(2) .pricing__plan {transform: translateY(0.5em);}

/* pricing__header */
.pricing__plan .pricing__header .fa{font-size: 3em;}
.pricing__plan .pricing__header .pricing__title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .15em;
    margin-top: 1em;
    padding: .2em .5em;
}

.pricing__plan .pricing__header .pricing__price {
    font-size: .8em;
    font-weight: 300;
    text-transform: capitalize;
}

.pricing__plan .pricing__header:after {
    content: '';
    display: block;
    width: 80%;
    height: .05em;
    margin: 1em  auto .5em;
    background-color: rgb(var(--light-gray));   
}

/* .pricing__details */
.pricing__plan .pricing__details .pricing__item {
    padding: .5em;
    text-transform: capitalize;
    font-size: .9em;
    font-weight: 300;
}

.pricing__details .pricing__item :first-child {
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 400;
}

.pricing__plan .pricing__footer{margin-top: .5em;}
.pricing__plan .pricing__footer .btn {
    font-size: .9em;
    border: none;
    background-image: linear-gradient(-45deg, rgb(var(--base-color)), rgb(var(--accent-color)));
    border-radius: 3em;
    text-transform: capitalize;
}

/* ------------------------------------------------------------------------ */

/************************
* 
************************/