/************************
*   CSS RESET
************************/
/*
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------------------------------ */

/************************
*   Define Font
************************/
@font-face {
    font-family: 'Dosis';
    src: url('../font/Dosis-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Dosis';
    src: url('../font/Dosis-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Dosis';
    src: url('../font/Dosis-Bold.ttf') format('truetype');
    font-weight: 700;
}

/* ------------------------------------------------------------------------ */

/************************
*   FIX
************************/
/* margin-top and clear */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {clear:both;}

/* box-sizing */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ------------------------------------------------------------------------ */

/************************
*   VARS
************************/
:root {
    --base-color: 150, 86, 2;
    --accent-color: 140, 2, 22;
    --dark-gray: 68, 62, 53;
    --light-gray: 250, 250, 249;
    --white: 255, 255, 255;
    --font: 'Dosis', Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------------------------ */

/************************
*   Global
************************/
.container{
    width: 75%;
    margin: auto;
}

.left {float: left}
.right {float: right}

.btn {
    display: inline-block;
    padding: .5em 1em;    
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2em;
}

/* ------------------------------------------------------------------------ */

body {
    font-family: var(--font);
    color: rgb(var(--dark-gray));
}

/************************
*   Header
************************/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    border-bottom: .25em solid rgb(var(--accent-color));
    background-color: rgba(var(--light-gray), .7);
    z-index: 2;
}

/* nav */
.nav{width: 60%;}
.nav .nav__item .nav__txt {
    display: block;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: rgb(var(--base-color));
    transition-property: background-color, color;
    transition-duration: .3s, .3s;
}

.nav .nav__item .nav__txt.active,
.nav .nav__item .nav__txt:hover {
    background-color: rgb(var(--base-color));
    color: rgb(var(--white));
}

/* logo */
.logo {
    width: 40%;
    text-align: center;
}

/* ------------------------------------------------------------------------ */

/************************
*   Banner
************************/
.banner {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width :100%;
    height: 100%;
    background-color: rgba(var(--base-color), .7);
}

.banner .banner__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: rgb(var(--white));
    line-height: 1.6;
}

.banner .banner__content .banner__title {
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.banner .banner__content .banner__txt {font-size: 1.5em;}

.banner .banner__content .btn {
    border: .1em solid rgb(var(--accent-color));
    margin-top: 1em;
    background-color: rgb(var(--accent-color));
    color: rgb(var(--white));
    transition-property: background-color, color;
    transition-duration: .3s, .3s;
}
.banner .banner__content .btn:hover {
    background-color: transparent;
    color: rgb(var(--accent-color));
}

/* ------------------------------------------------------------------------ */

/************************
*   Services
************************/
/* services header */
.services .services__header {
    padding: 1em;
    text-align: center;
    background-color: rgb(var(--light-gray));
}

.services__header .services__caption {
    font-size: 2em;
    font-weight: 700;
    color: rgb(var(--dark-gray));
}
.services__header .services__info {margin: 1em 0;}

